:root {
  /* Dark Background */
  --color-bg-dark: 0 4 26; /* #00041A */
  --color-border: 220 223 228; /*#DCDFE4*/
  --color-grey: 245 245 245; /* #F5F5F5 */

  /* Brand / Primary */
  --color-primary-1: 244 199 199; /* #F4C7C7; */
  --color-primary-2: 241 153 153; /* #f19999 */
  --color-primary-3: 230 106 106; /* #e66a6a */
  --color-primary-main: 219 68 68; /* #db4444 */
  --color-primary-5: 184 54 54; /* #b83636 */
  --color-primary-6: 143 41 41; /* #8f2929 */

  /* Text Colors */
  --color-text-main-1: 168 176 193; /* #A8B0C1 */
  --color-text-main-2: 125 136 158; /* #7D889E */
  --color-text-main-3: 83 96 121; /* #536079 */
  --color-text-main: 27 38 59; /* #1B263B */
  --color-text-main-5: 16 23 35; /* #101723 */

  /* Semantic Text */
  --color-text-orange: 213 100 45; /* #D5642D */
  --color-text-green: 64 134 49; /* #408631 */
  --color-text-blue: 41 104 182; /* #2968B6 */
  --color-text-red: 180 40 78; /* #B4284E */

  /* Button / UI Background */
  --color-orange-soft: 255 236 229; /* #FFECE5 */
  --color-green-soft: 227 249 228; /* #E3F9E4 */
  --color-blue-soft: 229 240 255; /* #E5F0FF */
  --color-red-soft: 255 218 219; /* #FFDADB */

  /* Action Colors */
  --color-discount: 0 218 87; /* #00DA57 */
}
